{{#resume.basics}}
	<h1>{{name}}</h1>
	<section id="basics">
		<div class="contact">
		{{#if website}}
		<span class="website">
			{{website}} |
		</span>
		{{/if}}
		{{#if email}}
		<span class="email">
			{{email}} |
		</span>
		{{/if}}
		{{#if phone}}
		<span class="phone">
			{{phone}}
		</span>
		{{/if}}
		</div>
		{{#location}}
		<h3>Location</h3>
		<section id="location">
			{{address}}, {{city}}, {{countryCode}}, {{postalCode}}
		</section>
		{{/location}}
		{{#if profiles.length}}
		{{!-- disabling for now, we can configure later
		<h3>Profiles</h3>
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<strong class="network">
					{{network}}
				</strong>
				{{/if}}
				{{#if username}}
				<div class="username">
					{{username}}
				</div>
				{{/if}}
				{{#if url}}
				<div class="url">
					<a href="{{url}}">Link</a>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</section> --}}
		{{/if}}
	</section>
{{/resume.basics}}